*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}


@media screen and (min-width:700px){
    


        a{
        margin:5px;
        color:white;
        font-weight: bold;
        }

        .app-bg-dark{
            background:url('/public/images/star-wars\ canva\ custom.png') ;
            height:1000px;
            background-size:100% 100% ;
            background-repeat: no-repeat;
        }

        .app-bg-light{
            background:url('/public/images/Star_Wars_logo-light.png') ;
            height:1000px;
            background-size:100% 100% ;
            background-repeat: no-repeat;
        }



        #Searchbar_Navbar_container{
            display:inline-flex;
            padding: 20px;
            
        }

        #search-icon{
            margin-left:5px;
        }  

        #results-dropdown{
            display: inline-block;
            background-color: rgb(223, 218, 218);
            width: 180px;
            position: relative;
            top:25px;
            right:200px;
                
        }

        #theme-controls{
            position: relative;
            bottom: 60px;
            left:500px;
        }



        input[type="text"]{
            color:black;
        }

        #results-dropdown > p{
            color: black;
        }


        .character-img-container>img{
            border-radius: 50%;
            height: 250px;
            width: 250px;
            position: relative;
            bottom:100px;
            right:350px;
            float:right;
        }

        .character-bio{
            display: flex;
            flex-direction: column;
        }

        .ThemeContainer{
          
            display: inline;
        }

}


@media screen and (max-width:699px) {


    a{
        margin:5px;
        color:white;
        font-weight: bold;
        }

        .app-bg-dark{
            background:url('/public/images/star-wars-dark-mobile.png') ;
            height: 650px;
            background-size:100% 100% ;
            background-repeat: no-repeat;
        }
            

        .app-bg-light{
            background:url('/public/images/Star_Wars_logo-light.png') ;
            height:650px;
            background-size:100% 100% ;
            background-repeat: no-repeat;
      
        }


        .character-bio{
            display: flex;
            flex-direction: column;
        }



        #Searchbar_Navbar_container{
            display:inline-flex;
            padding: 20px;
            
        }

        #search-icon{
            margin-left:5px;
        }  

        #results-dropdown{
            display: inline-block;
            background-color: white;
            width: 180px;
            position: relative;
            top:20px;
            right:180px;
                
        }

        #theme-controls{
            position: relative;
            bottom: 60px;
            left:500px;
        }



        input[type="text"]{
            color:black;
        }

        #results-dropdown > p{
            color: black;
        }


        .character-img-container>img{
            border-radius: 50%;
            height: 100px;
            width: 100px;
            position: relative;
            float:left;

        }


        .ThemeContainer{
          
            display: inline;
        }





}